
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121212;
  color: white;
  font-family: sans-serif;
  line-height: 1.6;
}

header {
  background-color: #1f1f1f;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 24px;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #aaa;
  font-weight: bold;
}

nav a.active, nav a:hover {
  color: #fff;
}

main {
  padding: 40px 20px;
}

h2 {
  margin-bottom: 20px;
  text-align: center;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  background-color: #470661;
  border-radius: 10px;
  padding: 15px;
  width: 280px;
  text-align: center;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.sobre {
background-color: rgba(112, 25, 120, 0.457);
  padding: 40px 20px;
  border-radius: 20px;
}

.sobre p {
  text-align: center;
  margin-bottom: 30px;
  font-size: 18px;
}