* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #0b0b0b;
  color: #ffffff;
  line-height: 1.6;
}

section {
  padding: 80px 10%;
}

h1, h2, h3 {
  font-weight: 700;
}

p {
  color: #cfcfcf;
}


.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding-left: 5vh;
}


.hero-content {
  max-width: 540px;
  z-index: 2;
}

.hero h1 {
  font-size: 3.8rem;
  margin-bottom: 10px;
}

.hero h1 .accent {
  color: #a855f7;
}

.hero h2 {
  font-size: 1.5rem;
  color: #b98cff;
  margin-bottom: 20px;
}

.hero p {
  margin-bottom: 30px;
}

.btn {
  padding: 12px 30px;
  background: linear-gradient(135deg, #a855f7, #7c3aed);
  color: #0b0b0b;
  text-decoration: none;
  border-radius: 30px;
  font-weight: 600;
}

.blob {
  width: 480px;
  height: 480px;
  background: radial-gradient(circle, #9b5cff 0%, transparent 70%);
  filter: blur(90px);
  opacity: 0.6;
  position: absolute;
  right: 5%;
}


.projects-grid {
  display: grid;
  gap: 30px;
  max-width: 800px;
}

.project-card {
  background: #141414;
  padding: 30px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.project-card span {
  color: #a855f7;
  font-size: 0.9rem;
}

.project-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 20px 40px rgba(168,85,247,0.25);
}

.projects h3 {
  font-size: 2rem;
  padding-bottom: 25px;
}


.project-modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.75);
  display: none;
  align-items: center;
  justify-content: center;
}

.project-modal.active {
  display: flex;
}

.modal-content {
  background: #141414;
  padding: 40px;
  border-radius: 20px;
  max-width: 500px;
  width: 90%;
  position: relative;
}

.modal-role {
  color: #a855f7;
  margin-bottom: 15px;
}

.close {
  position: absolute;
  top: 16px;
  right: 20px;
  cursor: pointer;
  font-size: 22px;
}

.contact {
  padding: 60px 10%;
}
